Salesiana Cloud Project/Salesiana.Cloud.ServiceManager/Service References/SalesianaCloudTransferService/Salesiana.Cloud.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Salesiana.Cloud.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Salesiana.Cloud.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInformation" nillable="true" type="tns:FileInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInformation" nillable="true" type="tns:ArrayOfFileInformation" />
  <xs:complexType name="FileInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastModified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInformation" nillable="true" type="tns:FileInformation" />
</xs:schema>