Salesiana Cloud Project/Salesiana.Cloud.ServiceManager/Service References/SalesianaCloudTransferService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="ITransferService_UploadFile_OutputMessage" />
  <wsdl:message name="ITransferService_FolderInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderInformation" />
  </wsdl:message>
  <wsdl:message name="ITransferService_FolderInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransferService">
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/DownloadFile" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/DownloadFileResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/UploadFile" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/UploadFileResponse" message="tns:ITransferService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/FolderInformation" message="tns:ITransferService_FolderInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/FolderInformationResponse" message="tns:ITransferService_FolderInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransferService" type="tns:ITransferService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/ITransferService/DownloadFile" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/ITransferService/UploadFile" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolderInformation">
      <soap:operation soapAction="http://tempuri.org/ITransferService/FolderInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferService">
    <wsdl:port name="BasicHttpBinding_ITransferService" binding="tns:BasicHttpBinding_ITransferService">
      <soap:address location="http://localhost:8000/Salesiana.Cloud.TransferService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>